{% extends "base.html" %}

{% block body_content %}

	<p>{{ tool.description }}</p>

	<p>Developer Website: <a href="{{ tool.link }}" target="_blank">{{ tool.link }}</a></p>

	<hr />

	<h2 class="sectiontitle">Meta Info</h2>

	<p>Filed under: {% for category in tool.category %}{{ category }}{% if not loop.last %}, {% endif %}{% endfor %}</p>

	<p>Found in 16 toolboxes. First added by Patrick Deuley</p>

	<p>
		<a href="/tool/{{ tool.id}}/delete">Delete this tool</a> / 
		<a href="/tool/{{ tool.id}}/edit">Edit this tool</a>
	</p>

	{% if related_tools %}<hr />

	<h2 class="sectiontitle">Other Tools in {{ related_category }}</h2>

	<ul class="unstyled">
		{% for tool in related_tools %}
		<li><a href="/tool/{{ tool.id }}/{{ tool.slug }}">{{ tool.name }}</a></li>
		{% endfor %}
	</ul>

	<p><a href="/category/{{ related_category }}">&raquo;View all tools in {{ related_category }}</a></p>

	{% endif %}

{% endblock %}